name: e2e

on:
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  e2e:
    strategy:
      matrix:
        os: [macos-13, ubuntu-22.04, windows-2022]
        node: [16, 18, 20]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install packages
        uses: ConorMacBride/install-package@v1.1.0
        with:
          brew: unzip
      - name: Checkout repository
        uses: actions/checkout@v3.6.0
      - name: Setup Node
        uses: actions/setup-node@v3.8.1
        with:
          node-version: ${{ matrix.node }}
          cache: "npm"
      - name: Enable corepack
        run: corepack enable
      - name: Install dependencies
        run: npm ci
      - name: Check for formatting errors
        run: npm run ci:fmt
      - name: Check for linting errors
        run: npm run ci:lnt
      - name: Link module
        run: npm link nw-builder
      - name: Run unit tests
        run: npm run test:unit
      - name: Run Selenium tests
        run: npm run test:e2e
