name: cd

on:
  push:
    branches:
    - main

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  npm:
    runs-on: ubuntu-24.04
    steps:
      - name: Check if NPM_TOKEN is set
        run: |
          if [ -z "${{ secrets.NPM_TOKEN }}" ]; then
            echo "NPM_TOKEN is not set, skipping job."
            exit 0
          fi
        continue-on-error: false
      - name: Checkout repository
        uses: actions/checkout@v4.2.2
      - name: Setup Node
        uses: actions/setup-node@v4.4.0
        with:
          node-version: 23
      - name: Install dependencies
        run: npm ci
      - name: Publish to npm
        uses: JS-DevTools/npm-publish@v3.1.1
        with:
          token: ${{ secrets.NPM_TOKEN }}
